[submodule "gateway"]
	path = gateway
	url = git@github.com:rocnail23/gateway_ecommerce.git
[submodule "order-ms"]
	path = order-ms
	url = git@github.com:rocnail23/order_microservice.git
[submodule "payment-ms"]
	path = payment-ms
	url = git@github.com:rocnail23/payment_microservice.git
[submodule "product-ms"]
	path = product-ms
	url = git@github.com:rocnail23/product_microservices.git
